button {
  font-size: 20px;
  background-color: #c44d64;
}
p {
  font-size: 20px;
}
html {
  color: blue;
  background: whitesmoke;
}
header {
  color: blue;
}
footer {
  color: blue;
}
p {
  margin: 100px;
}
header {
  border: 3px dashed green;
}
.fancies-border {
  border: 2px dashed red;
  background-color: #b0d4f1;
  border-radius: 7px;
}
p {
  font-size: 26px;
  color: green;
}
/**
Main
 */
main {
  background-color: yellow;
}
main p {
  color: red;
}
main article {
  background-color: blue;
}
main article p {
  color: yellow;
}
